<div class="mt-4">
    <div class="row">
        <div class="col-lg-6 my-4">
            <img src="{{drink.img}}" alt="">
        </div>
        <div class="col-lg-6 my-4">
            
        </div>
    </div>
</div>